<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WK-Inputs</title>
    <link rel="stylesheet" href="/static/css/index.min.css">
</head>
<body>
    <script src="/static/js/wk-inputs.js"></script>

    <div style="padding: 64px; max-width: 600px; margin: 0 auto;">
        <h1>WK-Inputs</h1>

        <br>
        <br>

        {% embed 'components/wk-text-field.twig' with {
            showAsterisk: true,
            defaultErrorMsg: 'Proszę wprowadzić poprawną wartość',
            counterValue: 31,
            id: 'wk_text_field_1',
            disabled: false,
            name: 'name',
            type: 'text',
            value: 'Domyślna wartość',
            placeholder: 'Placeholder',
            prefix: 'Prefix',
            suffix: 'Suffix'
        } only %}
            {% block label %}
                WkTextField
            {% endblock %}
            {% block hint %}
                Pomocna wskazówka
            {% endblock %}
            {% block prepend %}
                PREPEND
            {% endblock %}
            {% block append %}
                APPEND
            {% endblock %}
        {% endembed %}

        <br>
        <br>

        {% embed 'components/wk-textarea.twig' with {
            showAsterisk: true,
            defaultErrorMsg: 'Proszę wprowadzić poprawną wartość',
            counterValue: 127,
            id: 'wk_textarea_1',
            disabled: false,
            name: 'message',
            value: 'Domyślna wartość',
            placeholder: 'Placeholder',
            prefix: 'Prefix',
            suffix: 'Suffix',
            rows: 3,
            autogrow: false
        } only %}
            {% block label %}
                WkTextarea
            {% endblock %}
            {% block hint %}
                Pomocna wskazówka
            {% endblock %}
            {% block prepend %}
                PREPEND
            {% endblock %}
            {% block append %}
                APPEND
            {% endblock %}
        {% endembed %}

        <br>
        <br>

        {% embed 'components/wk-radio.twig' with {
            defaultErrorMsg: 'Proszę o wybranie prawidłowej opcji',
            id: 'wk_radio_1',
            disabled: false,
            name: 'radio',
            value: 'radio1',
            trueValue: 'radio1'
        } only %}
            {% block label %}
                WkRadio 1
            {% endblock %}
            {% block hint %}
                Pomocna wskazówka
            {% endblock %}
        {% endembed %}

        {% embed 'components/wk-radio.twig' with {
            defaultErrorMsg: 'Proszę o wybranie prawidłowej opcji',
            id: 'wk_radio_2',
            disabled: false,
            name: 'radio',
            value: 'radio1',
            trueValue: 'radio2'
        } only %}
            {% block label %}
                WkRadio 2
            {% endblock %}
            {% block hint %}
                Pomocna wskazówka
            {% endblock %}
        {% endembed %}

        {% embed 'components/wk-radio.twig' with {
            defaultErrorMsg: 'Proszę o wybranie prawidłowej opcji',
            id: 'wk_radio_3',
            disabled: false,
            name: 'radio',
            value: 'radio1',
            trueValue: 'radio3'
        } only %}
            {% block label %}
                WkRadio 3
            {% endblock %}
            {% block hint %}
                Pomocna wskazówka
            {% endblock %}
        {% endembed %}

        <br>
        <br>

        {% embed 'components/wk-checkbox.twig' with {
            defaultErrorMsg: 'Proszę o wybranie prawidłowej opcji',
            id: 'wk_checkbox_a1',
            disabled: false,
            name: 'checkbox',
            value: 'tak',
            trueValue: 'tak',
            falseValue: 'nie',
            multiple: true
        } only %}
            {% block label %}
                WkCheckbox 1
            {% endblock %}
            {% block hint %}
                Pomocna wskazówka
            {% endblock %}
        {% endembed %}

        {% embed 'components/wk-checkbox.twig' with {
            defaultErrorMsg: 'Proszę o wybranie prawidłowej opcji',
            id: 'wk_checkbox_a2',
            disabled: false,
            name: 'checkbox',
            value: 'nie',
            trueValue: 'tak',
            falseValue: 'nie',
            ignoreLabelClick: true,
            multiple: true
        } only %}
            {% block label %}
                WkCheckbox 2
            {% endblock %}
            {% block hint %}
                Tutaj label nie działa
            {% endblock %}
        {% endembed %}

        {% embed 'components/wk-checkbox.twig' with {
            defaultErrorMsg: 'Proszę o wybranie prawidłowej opcji',
            id: 'wk_checkbox_a3',
            disabled: true,
            name: 'checkbox',
            value: 'tak',
            trueValue: 'tak',
            falseValue: 'nie',
            multiple: true
        } only %}
            {% block label %}
                WkCheckbox 3
            {% endblock %}
            {% block hint %}
                Pomocna wskazówka
            {% endblock %}
        {% endembed %}
        
        <br>
        <br>

        {% embed 'components/wk-checkbox.twig' with {
            defaultErrorMsg: 'Proszę o wybranie prawidłowej opcji',
            id: 'wk_checkbox_b1',
            disabled: true,
            name: 'switch',
            value: 'tak',
            trueValue: 'tak',
            falseValue: 'nie',
            multiple: true,
            mode: 'switch'
        } only %}
            {% block label %}
                WkSwitch 1
            {% endblock %}
            {% block hint %}
                Pomocna wskazówka
            {% endblock %}
        {% endembed %}

        {% embed 'components/wk-checkbox.twig' with {
            defaultErrorMsg: 'Proszę o wybranie prawidłowej opcji',
            id: 'wk_checkbox_b2',
            disabled: false,
            name: 'switch',
            value: 'nie',
            trueValue: 'tak',
            falseValue: 'nie',
            multiple: true,
            mode: 'switch',
            showSwitchIcons: true
        } only %}
            {% block label %}
                WkSwitch 2
            {% endblock %}
            {% block hint %}
                Pomocna wskazówka
            {% endblock %}
        {% endembed %}

        {% embed 'components/wk-checkbox.twig' with {
            defaultErrorMsg: 'Proszę o wybranie prawidłowej opcji',
            id: 'wk_checkbox_b3',
            disabled: false,
            name: 'switch',
            value: 'nie',
            trueValue: 'tak',
            falseValue: 'nie',
            multiple: true,
            mode: 'switch',
            ignoreLabelClick: false
        } only %}
            {% block label %}
                WkSwitch 3
            {% endblock %}
            {% block hint %}
                Tutaj label działa
            {% endblock %}
        {% endembed %}

        <br>
        <br>

        {% embed 'components/wk-select.twig' with {
            showAsterisk: true,
            defaultErrorMsg: 'Proszę o wybranie prawidłowej opcji',
            id: 'wk_select_1',
            disabled: false,
            value: '',
            placeholder: 'Wybierz',
            prefix: 'Prefix',
            suffix: 'Suffix',
            itemText: 'text',
            itemValue: 'value',
            items: [
                {
                    text: 'Sok jabłkowy',
                    value: 'sok'
                },
                {
                    text: 'Zielona herbata',
                    value: 'herbata'
                },
                {
                    text: 'Piwo pszeniczne',
                    value: 'piwo'
                }
            ]
        } only %}
            {% block label %}
                WkSelect
            {% endblock %}
            {% block hint %}
                Pomocna wskazówka
            {% endblock %}
        {% endembed %}
    </div>

    <script>

        // WkTextField
        window.wkInputs.wk_text_field_1.on('click', e => {
            console.log('Focused: ' + e.element.focused);
            console.log('Disabled: ' + e.element.disabled);
        });
        window.wkInputs.wk_text_field_1.on('click:prepend', e => {
            console.log('"Greetings" - TextField\'s prepend, 2022');
        });
        window.wkInputs.wk_text_field_1.on('click:append', e => {
            console.log('"Greetings" - TextField\'s append, 2022');
        });
        window.wkInputs.wk_text_field_1.on('focus', e => {
            console.log('Focused: ' + e.element.focused);
        });
        window.wkInputs.wk_text_field_1.on('blur', e => {
            console.log('Focused: ' + e.element.focused);
        });
        window.wkInputs.wk_text_field_1.on('keydown', e => {
            console.log('Key: ' + e.native_event.key);
        });
        window.wkInputs.wk_text_field_1.on('keyup', e => {
            console.log('Released: ' + e.native_event.key);
        });
        window.wkInputs.wk_text_field_1.on('input', e => {
            console.log('Value: ' + e.element.value);
        });

        window.wkInputs.wk_text_field_1.addRule(v => {
            if(v.length == 0 || v == '') return;
            if(v.length < 3) return 'Powiedz coś więcej, 3 znaczki to tak dużo?';
            return true;
        });

        // WkTextarea
        window.wkInputs.wk_textarea_1.on('click', e => {
            console.log('Focused: ' + e.element.focused);
            console.log('Disabled: ' + e.element.disabled);
        });
        window.wkInputs.wk_textarea_1.on('click:prepend', e => {
            console.log('"Greetings" - Textarea\'s prepend, 2022');
        });
        window.wkInputs.wk_textarea_1.on('click:append', e => {
            console.log('"Greetings" - Textarea\'s append, 2022');
        });
        window.wkInputs.wk_textarea_1.on('focus', e => {
            console.log('Focused: ' + e.element.focused);
        });
        window.wkInputs.wk_textarea_1.on('blur', e => {
            console.log('Focused: ' + e.element.focused);
        });
        window.wkInputs.wk_textarea_1.on('keydown', e => {
            console.log('Key: ' + e.native_event.key);
        });
        window.wkInputs.wk_textarea_1.on('keyup', e => {
            console.log('Released: ' + e.native_event.key);
        });
        window.wkInputs.wk_textarea_1.on('input', e => {
            console.log('Value: ' + e.element.value);
        });

        window.wkInputs.wk_textarea_1.addRule(v => {
            if(v.length == 0 || v == '') return;
            if(v.length > 127) return 'Zbyt wiele znaków, max 127 proszę';
            return true;
        });

        // WkRadio
        window.wkInputs.wk_radio_1.on('change', e => {
            console.log(e.element.value);
        })

        window.wkInputs.wk_radio_2.addRule(v => {
            if(v == 'radio2') return 'Dwójka akurat nie';
            return true;
        });

        // WkCheckbox
        window.wkInputs.wk_checkbox_a1.on('change', e => {
            console.log('Checkbox A1 says ' + e.element.value);
        })
        window.wkInputs.wk_checkbox_a2.on('change', e => {
            console.log('Checkbox A2 says ' + e.element.value);
        })

        window.wkInputs.wk_checkbox_a1.addRule(v => {
            if(v == 'nie') return 'Proszę się zgodzić';
            return true;
        });
        window.wkInputs.wk_checkbox_a2.addRule(v => {
            if(v == 'tak') return 'Proszę się nie zgadzać';
            return true;
        });

        // WkSelect
        window.wkInputs.wk_select_1.on('click', e => {
            console.log(e);
            console.log(e.element.focused);
            console.log(e.element.disabled);
        })
        window.wkInputs.wk_select_1.on('focus', e => {
            console.log(e.element.focused);
        })
        window.wkInputs.wk_select_1.on('blur', e => {
            console.log(e.element.focused);
        })
        window.wkInputs.wk_select_1.on('change', e => {
            console.log(e.element.value);
        })

        window.wkInputs.wk_select_1.addRule(v => {
            if(v == 'piwo') return 'Nieletnim alkoholu nie sprzedajemy';
            return true;
        });

    </script>
</body>
</html>
