.wk-input {
    width: 100%;

    &__label {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;
        margin-left: auto;
        margin-right: auto;

        &-content {
            font-size: 1rem;
            line-height: 18px;
            font-weight: $FONT_WEIGHT_BOLD;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__asterisk {
        color: $ERROR;
        font-weight: $FONT_WEIGHT_BOLD;
        padding-left: 4px;
        flex-shrink: 0;
        height: 18px;
    }

    &__messages {
        margin: 4px auto 0;
        padding: 0px;
        display: flex;
        align-items: flex-start;
        font-size: 0.8rem;
        line-height: 1.2rem;
        letter-spacing: 0.2px;
    }

    &__message {
        flex: 1;
    }

    &__hint {
        color: rgba-to-rgb(rgba($SECONDARY, 0.5), #fff);
    }

    &__errormsg {
        color: $ERROR;
    }

    &__counter {
        padding-left: 16px;
        flex-shrink: 0;
        margin-left: auto;
    }
}
