.wk-checkbox {
    display: flex;
    align-items: flex-start;

    &--disabled {
        color: rgba-to-rgb(rgba($SECONDARY, 0.4), #fff);

        cursor: not-allowed;
        & * {
            cursor: not-allowed !important;
        }
    }

    &--switch {
        .wk-checkbox__label {
            padding-top: 2px;
        }
    }

    &-button {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        position: relative;
        border: 2px solid rgba-to-rgb(rgba($SECONDARY, 0.15), #fff);
        padding: 0;
        background-color: transparent;
        font-family: inherit;
        font-size: inherit;
        outline: none;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.3s ease;

        &:hover,
        &:focus-visible {
            box-shadow: 0px 0px 0px 7px rgba($SECONDARY, 0.05);
            border-color: $PRIMARY;
        }

        &--disabled {
            border-color: rgba-to-rgb(rgba($SECONDARY, 0.1), #fff);
            background-color: rgba-to-rgb(rgba($SECONDARY, 0.05), #fff);

            &:hover,
            &:focus-visible {
                border-color: rgba-to-rgb(rgba($SECONDARY, 0.1), #fff);
                background-color: rgba-to-rgb(rgba($SECONDARY, 0.05), #fff);
                box-shadow: none;
            }
        }

        &--checked {
            border-color: $PRIMARY;

            &:hover,
            &:focus-visible {
                box-shadow: 0px 0px 0px 7px rgba($PRIMARY, 0.2);
            }

            .wk-checkbox-button__fill {
                transform: scale(1);
            }

            .wk-checkbox-button__icon {
                transform: scale(1);
                opacity: 1;
            }

            &.wk-checkbox-button--disabled {
                border-color: rgba-to-rgb(rgba($PRIMARY, 0.5), #fff);

                &:hover,
                &:focus-visible {
                    box-shadow: none;
                }

                .wk-checkbox-button__fill {
                    background-color: rgba-to-rgb(rgba($PRIMARY, 0.5), #fff);
                }
            }
        }

        &--invalid {
            border-color: $ERROR;

            &:hover,
            &:focus-visible {
                box-shadow: 0px 0px 0px 7px rgba($ERROR, 0.15);
                border-color: $ERROR;
            }
        }

        &__fill {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $PRIMARY;
            transition: transform 0.15s ease;
            transform: scale(0);
        }

        &__icon {
            position: absolute;
            top: 3px;
            left: 2px;
            width: 12px;
            height: 10px;
            display: block;
            transition: all 0.15s ease;
            transform: scale(2);
            opacity: 0;

            path {
                stroke: #fff !important;
            }
        }
    }

    &-switch {
        flex-shrink: 0;
        width: 44px;
        height: 24px;
        border-radius: 24px;
        position: relative;
        border: 2px solid rgba-to-rgb(rgba($SECONDARY, 0.15), #fff);
        padding: 0;
        background-color: white;
        font-family: inherit;
        font-size: inherit;
        outline: none;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.3s ease;

        &:hover,
        &:focus-visible {
            box-shadow: 0px 0px 0px 7px rgba($SECONDARY, 0.05);
            border-color: $PRIMARY;
        }

        &--disabled {
            border-color: rgba-to-rgb(rgba($SECONDARY, 0.1), #fff) !important;
            background-color: rgba-to-rgb(rgba($SECONDARY, 0.05), #fff) !important;

            &:hover,
            &:focus-visible {
                border-color: rgba-to-rgb(rgba($SECONDARY, 0.1), #fff) !important;
                background-color: rgba-to-rgb(rgba($SECONDARY, 0.05), #fff) !important;
                box-shadow: none;
            }

            .wk-checkbox-switch__fill {
                background-color: rgba-to-rgb(rgba($SECONDARY, 0.2), #fff) !important;
                box-shadow: none !important;
            }

            .wk-checkbox-switch__icon {
                color: rgba-to-rgb(rgba($SECONDARY, 0.2), #fff)
            }

            &.wk-checkbox-switch--checked {
                border-color: rgba-to-rgb(rgba($PRIMARY, 0.2), #fff) !important;
                background-color: white !important;

                .wk-checkbox-switch__icon {
                    color: rgba-to-rgb(rgba($PRIMARY, 0.4), #fff)
                }

                .wk-checkbox-switch__fill {
                    background-color: rgba-to-rgb(rgba($PRIMARY, 0.4), #fff) !important;
                    box-shadow: 0px 0px 0px 24px rgba($PRIMARY, 0.05) !important;
                }
            }
        }

        &--checked {
            border-color: $PRIMARY;
            background-color: white;

            &:hover,
            &:focus-visible {
                box-shadow: 0px 0px 0px 7px rgba($PRIMARY, 0.2);
            }

            .wk-checkbox-switch__fill {
                background-color: $PRIMARY;
	            transform: translateX(20px);
                box-shadow: 0px 0px 0px 24px rgba($PRIMARY, 0.05);
            }

            &.wk-checkbox-switch--disabled {
                border-color: rgba-to-rgb(rgba($PRIMARY, 0.5), #fff);

                &:hover,
                &:focus-visible {
                    box-shadow: none;
                }

                .wk-checkbox-switch__fill {
                    background-color: rgba-to-rgb(rgba($PRIMARY, 0.5), #fff);
                }
            }
        }

        &--invalid {
            border-color: $ERROR;

            &:hover,
            &:focus-visible {
                box-shadow: 0px 0px 0px 7px rgba($ERROR, 0.15);
                border-color: $ERROR;
            }

            .wk-checkbox-switch__fill {
	            background-color: $ERROR;
            }

            .wk-checkbox-switch__icon--off {
                color: rgba($ERROR, .3);
            }
            
        }

        &__fill {
            position: absolute;
            top: 2px;
            left: 2px;
            width: 16px;
            height: 16px;
            border-radius: 28px;
            background-color: rgba-to-rgb(rgba($SECONDARY, 0.3), #fff);
            transition: transform 0.15s ease;
        }

        &__icon {
            position: absolute;
            top: 2px;
            width: 16px;
            height: 16px;

            &--off {
                right: 2.5px;
                color: rgba-to-rgb(rgba($SECONDARY, 0.3), #fff);
            }
            &--on {
                left: 2.5px;
                color: rgba-to-rgb(rgba($PRIMARY, 0.5), #fff);
            }
        }
    }

    &__label {
        padding-left: 8px;
        line-height: 20px;
        cursor: pointer;

        &--inactive {
            cursor: default;
        }
    }
}
